* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Roboto, serif;
  margin: 0;
}

.main-div {
  margin: 0 auto;
}

.upper {

}

img {
  display: block;
  margin: 0 auto;
}

.lower {
  background-color: #222;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.secondary {
  /* padding: 8px; */
  /* padding-bottom: 6px; */
}

.date {
  font-size: 14px;
  color: #aaa;
  float: right;
  vertical-align: middle;
  display: inline-block;
  /* padding: 7px; */
}

.icons span {
  display: inline-block;
  padding: 3px;
}

span svg {
  fill: #aaa;
  width: 20px;
}

.send svg {
  width: 23px;
}

.divider {
  border: 1px solid #333;
  /* color: #333; */
  height: 1px;
}

.comments {
  padding-top: 15px;
}

.comment-div {
  height: 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  /* padding-top: 0px; */
  float: left;
 }

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to right, #008ac9, #62ceff);
}

.comment-text {

}
