<!DOCTYPE html>
  <html>
  <head>
    <title>UdaWiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <nav>
      <div class="menu-buttons">
        <a class="menu-button" href="{{buttons['url_for_edit']}}">{{buttons['edit']}}</a>
        <!-- <span>Viev</span> -->
        <a class="menu-button" href="{{buttons['url_for_history']}}">{{buttons['history']}}</a>

        <a class="menu-button" href="/login">{{buttons['login']}}</a>
        <a class="menu-button" href="/signup">{{buttons['signup']}}</a>
        <a class="menu-button" href="/logout">{{buttons['username']}}</a>
      </div>
    </nav>

    <div>
      {% block edit %}
      {% endblock %}

      {% block wikipage %}
      {% endblock %}

      {% block history %}
      {% endblock %}

    </div>
  </body>
  </html>
