{% extends "base.html" %}

{% block registration %}

<div>
  <form method="post">
  <p>
    <label> Username
    <input type="text" name="username" value="{{username}}">
    </label>
    <div>{{error_username}}</div>
  </p>
  <p>
    <label> Password
    <input type="password" name="password" value="{{password}}">
    </label>
    <div>{{error_password}}</div>
  </p>
  <p>
    <label> Verify
    <input type="password" name="verify" value="{{verify}}">
    </label>
    <div>{{error_verify}}</div>
  </p>
  <p>
    <label> Email
    <input type="email" name="email" value="{{email}}">
    </label>
    <div>{{error_email}}</div>
  </p>
  <br>
  <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
