<img src="{{ album.album_logo }}" alt="">

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="POST">
  {% csrf_token %}
  {% for song in album.song_set.all %}
  <input type="radio" value="{{ song.id }}" id="song{{ forloop.counter }}" name="song">
  <label for="song{{ forloop.counter }}">
    {{ forloop.counter }}
    {{ song.song_title }}
    {% if song.is_favorite %}
      <img src="http://www.shahter.clan.su/_nw/0/14388.gif" alt="">
    {% endif %}
  </label>
  <br>
  {% endfor %}
  <input type="submit" value="Favorite">

</form>
