<!DOCTYPE html>
  <html>
  <head>
    <title>Morse encoder/decryptor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />
  </head>
  <body>
    <header><p class="header"><a href="/morse" title="Home page">M<span>o</span>rse enc<span>o</span>der<span>/</span>decr<span>y</span>pt<span>o</span>r</a></p></header>
    <div class='logo'>
      <marquee direction="right" scrollamount="17">
        <img src="http://getfont.ru/img/store/cms_shop/original/preview-1_61816.png" alt="telegraph" class="lenta" />
      </marquee>
    </div>
    <div class="form-div">
    <form method="post">
      <label class="labels">Inp<span>u</span>t ar<span>e</span>a</label>
      <br />
      <textarea name="user_input" class="texta" maxlength="1000">{{user_input}}</textarea>
      <!-- <input type="radio" name="choice" value="to_eng"> From morse code to english
      <br />
      <input type="radio" name="choice" value="to_morse" checked> From english to morse code -->
      <br />
      <input type="submit" class="submit" value="Submit">
      <button type="submit" formmethod="get" formaction="/morse" class="reset">Reset</button>
      <!-- <br />
      <input type="button" name="refresh" value="Refresh" formaction="index.html" formmethod="get"> -->
      <br />
      <label class="labels">R<span>e</span>s<span>u</span>lt</label>
      <br />
      <textarea readonly name="output" class="texta">{{output}}</textarea>
      <br />
    </form>
    </div>
    <br />

    <div class="aside">


      {% block instruction %}
      {% endblock %}

      {% block dictionary %}
      {% endblock %}

      {% block about %}
      {% endblock %}


    </div>
    <footer>
    <ul>
      <li><a href="/morse">Instructions</a></li>
      <li><a href="/morse/dictionary">Dictionary</a></li>
      <li><a href="/morse/about">About</a></li>
    </ul>
    <div class="version">V 0.4</div>
    </footer>

  </body>
  </html>
