{% extends "index.html" %}

{% block instruction %}
<div class="explain">
<!-- <p>Please, choose the way you want to encode your data.</p> -->
<p>Enter the line in small letters or the morse code using spaces between letters (symbols).</p>
<p>If there is s <em><u>mistake</u></em> in your line, you'll see <b>'@'</b> sign in the <b>output</b> which will mean,
that there are some <u>unknown</u> or <u>false-input</u> symbols in your input.</p>
<p>The " <b>||</b> " (double pipe) sign means the space between two words. When entering morse code by yourself
   put this sign between the words and <u>don't forget</u> <i>spaces</i> <b>before</b> and <b>after</b> pipes!</p>
<p>Please do not enter <u>the morse code</u> and <u>english words</u> at the same time - <u><b>this won't get the right result</b></u>!</p>
</div>
{% endblock %}
